@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&family=Raleway&display=swap');
.header {
    width: 100%;
    height: 75px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__wrapper {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin: 0px;
}
.header__axit {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__link-wrapper {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__link {
    font-family: 'Open Sans', sans-serif;
    color: #fff; 
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}

.header__bar-wrapper {
    display: none;
}

.modern {
    width: 100%;
    height: 1026px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./img/image.png);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.modern__axit {
    width: 1170px;
    display: flex;
    font-family: 'Raleway', 'open sans';
    color: #fff
}
.modern__axit-content {
    margin-right: 30px;
}
.modern__logo {
    margin-bottom: 70px;
}
.modern__title {
    margin-bottom: 50px;             
    font-size: 48px;
    font-weight: 500;
}
.modern__title-wrapper {
    height: 150px;
    display: flex;                   
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.modern__line {
    width: 170px;
    border: 1px solid #fff;
    margin-bottom: 50px;
}
.modern__subtitle {
    font-size: 18px; 
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    margin-bottom: 50px;
}
.modern__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    color: #fff;
    border: 2px solid #fff;
    background: none;
    width: 230px;
    height: 40px;
    cursor: pointer;
}
.modern__axit-form {
    justify-content: center;
}
.modern__axit-form-block {
    width: 470px;
    height: 450px;
    background: #fff;
    border-radius: 10px;
    flex-direction: column;
    text-align: center;
}
.modern__axit-form-wrapper {
    padding: 50px;
}
.modern__trial {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #333333;
    text-transform: uppercase;
    margin-bottom: 50px;
}
.modern__trial-free {
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #EC7979;
    text-transform: uppercase;
    margin-bottom: 50px;
}
#axit__name, #axit__email, #axit__password {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    margin-bottom: 18px;
}
.modern__get-started {
    width: 100%;
    height: 75px;
    font-family: 'Open sans', 'sans serif';
    color: #fff;
    border: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #EC7979;
    cursor: pointer;
}
.links {
    width: 100%;
    height: 140px;
    margin: auto;
    margin-bottom: 100px;
    font-family: 'Raleway', sans-serif;
    background: #F8EFEF;
    display: flex;
    align-items: center;
    justify-content: center;
}
.links__block {
    width: 1170px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links__block-text {
    width: 50%;
    align-items: center;
    text-align: left;
}
.links__block-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 3%;
    margin-top: 0px;
}
.links__block-subtitle {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
}
.links__block-icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#icon {
    color: #cccc;
}

.tabs {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0 auto;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tabs__width-container {
    width: 1170px;
}

.tabs__button-wrapper {
    display: flex;
    justify-content: space-between;
    justify-content: left;
}

.tabs__button-first {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background-color: #ffff;
    border: 1px solid #C6CBCD;
    border-bottom: none;
    width: 184px;
    height: 40px;
    cursor: pointer;
}

.tabs__button {
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    font-size: 14px;
    background-color: #ffff;
    border: none;
    width: 184px;
    height: 40px;
}

.tabs__content {
    height: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    border: 1px solid #C6CBCD;
    box-sizing: border-box;
}

.tabs__content-text-wrapper {
    width: 60%;
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
}

.content__text-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
    margin-bottom: 50px;
}

.content__text-block {
    margin-bottom: 30px;
}

.content__download-button {
    font-family: 'Open Sans', sans-serif;
    width: 270px;
    height: 58px;
    background-color: #EC7979;
    color:#ffff;
    border: none;
    cursor: pointer;
}

.awesome {
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome-width-container {
    width: 1170px;
}

.awesome__title {
    margin: 0;             
    font-size: 36px;
    font-weight: 400;
}

.awesome__title-wrapper {
    height: 150px;
    display: flex;  /*стили выполняются по порядку!!!*/                  
    align-items: center;
    justify-content: center;
}

.awesome__line {
    width: 170px;
    border: 1px solid #EC7979; 
    margin: auto;
    margin-bottom: 40px;
}

.awesome__subtitle {
    color: #86878B;
    text-align: center; /* потому что не нужно вертикальное центрирование*/
    margin-bottom: 110px;
}

.awesome__container {
    display: flex; /*выравнивание в строку автоматическое если надо в колонку то flex-direction*/
    justify-content: space-between;
}

.awesome__block {
    width: 30%;
    text-align: center;
}

.awesome__icon-wrapper {
    width: 92px;
    height: 92px;
    display: flex;  /*стили выполняются по порядку!!!*/                  
    align-items: center;
    justify-content: center;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 78px;
}

.awesome__block-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    margin-bottom: 47px;
}

.awesome__block-sutitle {
    font-size: 18px;
}

.price {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    background-color: #F5F5F5;
    display: flex;
    align-items: center;
    justify-content: center;
}

.price__width-container {
    width: 1170px;
}

.price__title {
    margin: 0;             
    font-size: 36px;
    font-weight: 400;
}

.price__title-wrapper {
    height: 150px;
    display: flex;                    
    align-items: center;
    justify-content: center;
}

.price__line {
    width: 170px;
    border: 1px solid #EC7979; 
    margin: auto;
    margin-bottom: 40px;
}

.price__subtitle {
    color: #86878B;
    text-align: center; 
    margin-bottom: 80px;
}

.price__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.price__block {
    width: 370px;
    height: 510px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
}

.price__block-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #fff;
    background: #333333;
    border: 2px solid #F5F5F5;
    margin: 0px;
    padding: 10px;
}

.price__block-cost {
    font-weight: bold;
    font-size: 36px;
    color: #fff;
    background: #333333;
    border: 2px solid #F5F5F5;
    margin: 0px;
    padding: 10px;
}

.price__block-free {
    color: #fff;
    background: #333333;
    border: 2px solid #F5F5F5;
    margin: 0px;
    padding: 10px;
}

.price__block-list {
    padding: 0px;
    margin: 0px;
}

.price__block-space {
    background: #FFFFFF;
    border: 2px solid #F5F5F5;
    margin: 0px;
    list-style: none;
    padding: 15px;
}

.price__block:hover {
    transform: translateY(-20px);
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));
}

.customers {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 900px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.customers-width-container {
width: 1170px;
}

.customers__title {
    margin: 0;             
    font-size: 36px;
    font-weight: 400;
}

.customers__title-wrapper {
    height: 150px;
    display: flex;                    
    align-items: center;
    justify-content: center;
}

.customers__line {
    width: 170px;
    border: 1px solid #EC7979; 
    margin: auto;
    margin-bottom: 40px;
}

.customers__subtitle {
    color: #86878B;
    text-align: center; 
    margin-bottom: 80px;
}

.customers__container {
    display:flex;
    justify-content: space-between;
}

.customers__block {
    width: 370px;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: center;
    margin-right: 30px;
}

.customers__block-title-wrapper {
    width: 370px;
    height: 180px;
    background: #E2E2E2;
    border-radius: 10px;
    justify-content: center;
    margin-bottom: -15px;
}

.customers__icon-wrapper {
    display: flex;
}

.customers__polygon {
    width: 30px;
    height: 20px;
    background: #E2E2E2;
    transform: rotate(-45deg);
    margin-bottom: 65px;
    position: relative;
    top: 0px; 
    left: 70px;
}

.customers__block-title {
    padding: 38px 20px;
    color: #86878B;
    font-weight: normal;
}

.customers__manager-title {
    font-family: 'Open Sans', sans-serif; /* сделать картинку перед текстом в html и засунуть из в отдельный контейнер*/
    font-weight: 700;
    font-size: 24px;
}

.customers__manager {
    width: 270px;
    text-align: left;
}

.customers__icon {
    width: 70px;
    height: 70px;
    margin-right: 30px;
}

.customers__slider {
    display: none;
}

.design {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 442px;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Homework_zhylko/img/stylish.png);
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.design__width-container {
    width: 1170px;
}

.design__title {
    margin: 0;             
    font-size: 36px;
    font-weight: 400;
    color: #fff;
}

.design__title-wrapper {
    height: 150px;
    display: flex;                    
    align-items: center;
    justify-content: center;
}

.design__line {
    width: 170px;
    border: 1px solid #fff; 
    margin: auto;
    margin-bottom: 40px;
}

.design__subtitle {
    color: #fff;
    text-align: center; 
    margin-bottom: 80px;
}

.design__download-button {
    font-family: 'Open Sans', sans-serif;
    width: 370px;
    height: 58px;
    color: #ffff;
    border: 2px solid #FFFFFF;
    background: none;
    cursor: pointer;
}

.contacts {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contacts__width-container {
    width: 1170px;
}
.contacts__title {
    margin: 0;             
    font-size: 36px;
    font-weight: 400;
}

.contacts__title-wrapper {
    height: 150px;
    display: flex;                    
    align-items: center;
    justify-content: center;
}

.contacts__line {
    width: 170px;
    border: 1px solid #EC7979; 
    margin: auto;
    margin-bottom: 40px;
}

.contacts__subtitle {
    color: #86878B;
    text-align: center; 
    margin-bottom: 80px;
}

.contacts__form {
    font-family: 'Open sans', sans-serif;
    font-weight: 100;
    color: #BDBDBD;
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.contacts__form-wrapper {
    align-items: center;
    text-align: center;
}

.contacts__form-email-wrapper {
    width: 570px;
}

#name, #email, #password {
    width: 100%;
    height: 60px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    margin-bottom: 18px;
}

#message {
    font-family: 'Open sans', sans-serif;
    width: 570px;
    height: 220px;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    resize: none;
}

.contacts__button {
    font-family: 'Open Sans', sans-serif;
    width: 370px;
    height: 58px;
    color: #ffff;
    border: 2px solid #EC7979;
    background: #EC7979;
    cursor: pointer;
    align-items: center;
    margin-bottom: 50px;
}

.footer {
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}
.footer__width-container {
    width: 1170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.footer__icons {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 30px;
}
.footer__copyright {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.5);
}

@media screen and (min-width: 786px) and (max-width: 1200px) {
    .header__wrapper {
        justify-content: space-evenly;
    }

    .header__wrapper {
        width: 100%;
    }

    .modern {
        height: 768px;
    }
    
    .modern__axit {
        width: 100%;
    }

    .modern__axit-content {
        margin-right: 0px;
        margin-left: 115px;
    }

    .modern__logo {
        margin-bottom: 0px;
    }
    
    .modern__title {
        font-size: 36px;
        margin: 0px;
    }

    .modern__subtitle {
        font-size: 14px;
    }

    .modern__line {
        width: 115px;
    }
    
    .modern__button {
        width: 180px;
    }

    .modern__axit-form-block {
        width: 398px;
        height: 450px;
    }

     #axit__password {
        margin-bottom: 7px;
    }

    .links {
        margin-bottom: 50px;
    }

    .tabs__width-container {
        width: 100%;
    }

    .tabs__content {
        height: 386px;
    }

    .content__text-title {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .content__text-block {
        font-size: 14px;
    }

    .content__download-button {
        width: 230px;
    }

    .awesome-width-container {
        width: 100%;
    }

    .awesome__title {
        font-size: 24px;
    }

    .awesome__title-wrapper {
        height: 120px;
    }

    .awesome__subtitle {
        font-size: 14px;
        margin-bottom: 65px;
    }

    .awesome__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .awesome__icon-wrapper {
        width: 80px;
        height: 80px;
    }

    .awesome__block-title {
        font-size: 18px;
    }

    .awesome__block-subtitle {
        font-size: 14px;
    }

    .price {
        height: 770px;
    }

    .price__width-container {
        width: 100%;
    }
    
    .price__title {
        font-size: 24px;
    }

    .price__title-wrapper {
        height: 120px;
    }

    .price__subtitle {
        font-size: 14px;
        margin-bottom: 50px;
    }

    .price__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .customers {
        height: 770px;
    }

    .customers__block {
        width: 30%;
        margin: 0px;
    }
    
    .customers__title {
        font-size: 24px;
    }

    .customers__title-wrapper {
        width: auto;
        height: 120px;
    }

    .customers__manager {
        width: auto;
    }

    .customers__subtitle {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .customers__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .customers__polygon {
        width: 25px;
        height: 20px;
        left: 50px;
        margin-bottom: 55px;
    }

    .customers__width-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .customers__block-title {
        font-weight: 400;
        font-size: 14px;
    }

    .customers__block-title-wrapper {
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .customers__icon {
        width: 63px;
        height: 63px;
    }

    .customers__manager-title {
        font-weight: 700;
        font-size: 18px;
    }

    .customers__manager {
        font-weight: 400;
        font-size: 14px;
    }

    .design {
        height: 358px;
    }

    .design__width-container {
        width: 100%;
    }

    .design__title {
        font-size: 24px;
    }

    .design__title-wrapper {
        height: 120px;
    }

    .design__subtitle {
        font-size: 14px;
        margin-bottom: 32px;
    }

    .design__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .design__download-button {
        width: 318px;
    }

    .contacts__width-container {
        width: 100%;
    }

    .contacts__form {
        width: 100%;
    }

    .contacts__title {
        font-size: 24px;
    }

    .contacts__title-wrapper {
        height: 120px;
    }

    .contacts__subtitle {
        font-size: 14px;
        margin-bottom: 72px;
    }

    .contacts__line {
        width: 142px;
        margin-bottom: 32px;
    }

    .contacts__button {
        width: 318px;
    }

    .footer__copyright {
        font-size: 14px;
    }

    #icon {
        font-size: 50px;
    }
}

@media screen and (min-width: 320px) and (max-width: 785px) {
    .header__wrapper {
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .header__link-wrapper {
        display: none;
    }

    .header__bar-wrapper {
        display: contents;
        justify-content: center;
        align-items: center;
    }

    #bar {
        display: inline;
        color: #fff;
    }

    .modern {
        height: 1005px;
        background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(./img/image2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .modern__axit {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .modern__axit-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;
    }

    .modern__title-wrapper {
        height: auto;
        text-align: center;
        margin-bottom: 45px;
    }

    .modern__title {
        margin: 0px;
        font-size: 36px;
    }

    .modern__subtitle {
        font-weight: 400;
        font-size: 14px;
        text-align: center;
        margin-top: 0px;
    }

    .modern__line {
        width: 134px;
    }

    .modern__logo {
        display: none;
    }

    .modern__axit-form-block {
        width: 288px;
        height: 381px;
    }

    .modern__button {
        width: 288px;
        margin-bottom: 56px;
        font-size: 18px;
    }

    .modern__axit-form-wrapper {
        padding: 27px;
    }

    .modern__trial {
        font-size: 14px;
    }

    .modern__trial-free {
        font-size: 14px;
    }

    .modern__get-started {
        height: 70px;
        font-size: 15px;
    }

    .links {
        height: 240px;
    }

    .links__block {
        width: 100%;
        flex-direction: column;
        padding: 16px;
    }

    .links__block-text {
        width: 100%;
        text-align: center;
        margin-bottom: 35px;
    }

    .links__block-title {
        font-size: 18px;
    }

    .links__block-subtitle {
        font-size: 14px;
    }

    .links__block-icons {
        width: 100%;
    }

    #icon {
        font-size: 30px;
    }

    .tabs__width-container {
        width: 100%;
    }

    .tabs__content-image {
        display: none;
    }

    .tabs__content {
        height: 430px;
        justify-content: center;
        align-items: center;
    }

    .tabs__content-text-wrapper {
        margin: 0px;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .content__text-title {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .content__text-block {
        font-size: 13px;
        margin-bottom: 0px;
    }

    .content__download-button {
        width: 240px;
        height: 50px;
        font-size: 18px;
    }

    .awesome-width-container {
        width: 100%;
    }

    .awesome__title {
       font-size: 18px;
    }

    .awesome__title-wrapper {
        height: 120px;
    }

    .awesome__line {
        width: 135px;
    }

    .awesome__subtitle {
        font-size: 13px;
        margin-bottom: 80px;
    }

    .awesome__container {
        flex-direction: column;
    }

    .awesome__block {
        width: 100%;
    }

    .awesome__block-title {
        font-size: 18px;
    }

    .awesome__block-subtitle {
        font-size: 14px;
        margin-bottom: 40px;
    }

    .awesome__icon-wrapper {
        width: 80px;
        height: 80px;
        margin-bottom: 65px;
    }

    .price {
        height: 1480px;
    }

    .price__width-container {
        width: 100%;
    }

    .price__container {
        flex-direction: column;
    }

    .price__title {
        font-size: 24px;
    }

    .price__subtitle {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .price__line {
        width: 135px;
    }

    .price__block {
        width: 80%;
        height: 400px;
    }

    .price__block-title {
        font-size: 18px;
        padding: 5px;
    }

    .price__block-cost {
        font-size: 24px;
        padding: 20px;
    }

    .price__block-free {
        font-size: 14px;
        padding: 5px;
    }

    .price__block-space {
        font-size: 14px;
        padding: 10px;
        color: #86878B;
    }

    .customers {
        height: 650px;
    }

    .customers__width-container {
        width: 100%;
    }

    .customers__title-wrapper {
        text-align: center;
    }

    .customers__title {
        font-size: 24px;
    }

    .customers__subtitle {
        font-size: 14px;
        margin-bottom: 25px;
    }

    .customers__line {
        width: 135px;
        margin-bottom: 25px;
    }

    .customers__container {
        justify-content: center;
        align-items: center;
    }

    .customers__block {
        width: 100%;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .customers__block-title-wrapper {
        width: 80%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .customers__polygon {
        width: 20px;
        height: 20px;
        margin-bottom: 40px;
        margin-top: -15px;
        left: -70px
    }

    .customers__block-title {
        font-size: 14px;
        padding: 0px;
    }

    .customers__block:first-child {
        display: none;
    }

    .customers__block:last-child {
        display: none;
    }

    .customers__icon-wrapper {
        width: 80%;
        display: flex;
        justify-content: space-around;
    }

    .customers__icon {
        width: 57px;
        height: 57px;
        margin: 0px;
    }

    .customers__manager {
        width: 70%;
        font-size: 13px;
        margin-bottom: 30px;
    }

    .customers__manager-title {
        font-size: 14px;
    }

    .customers__slider {
        display: contents;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    .customers__slider-dots {
        width: 10px;
        height: 10px;
        border: 1px solid #86878B;
        border-radius: 100%;
    }

    .customers__slider-dots:nth-child(2) {
        background-color: #86878B;
    }

    .design {
        height: 360px;
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(/Homework_zhylko/img/stylish2.png);
        background-repeat: no-repeat;
        background-size: cover;
    }

    .design__width-container {
        width: 100%;
    }

    .design__title {
        font-size: 24px;
    }

    .design__title-wrapper {
        height: 120px;
    }

    .design__line {
        width: 135px;
        margin-bottom: 15px;
    }

    .design__subtitle {
        font-size: 14px;
        margin-bottom: 65px;
    }

    .design__download-button {
        width: 280px;
        height: 50px;
        font-size: 18px;
    }

    .contacts__width-container {
        width: 100%;
    }

    .contacts__title {
        font-size: 24px;
    }

    .customers__line {
        width: 135px;
        margin-bottom: 24px;
    }

    .contacts__subtitle {
        font-size: 14px;
        margin-bottom: 65px;
    }

    .contacts__form {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .contacts__form-email-wrapper {
        width: 80%;
    }

    #message {
        width: 80%;
        height: 200px;
    }

    .contacts__button {
        width: 80%;
        font-size: 18px;
    }

    .contacts__width-container {
        width: 100%;
    }

    .footer__icons {
        width: 100%;
    }

    .footer__copyright {
        font-size: 14px;
    }
    
}